.card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgb(0, 0, 0, 0.1);
}

.title {
  text-align: center;
}

.desc {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.children {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .desc {
    font-size: 1rem;
  }
}
